@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=Spartan:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: space-around;
    background-color: #cad6e8;
    align-items: center;
    width: 100%;
    height: 70px;
    cursor: pointer;
}

header ul{
    display: flex;
    gap: 15px;
}

header li{
    text-transform: uppercase;
    list-style: none;

}

header li a {
    color: black;
    text-decoration: none;
    border-bottom: #cad6e8 2px solid;}

header li a:hover{
    border-bottom: black 2px solid;
    padding-bottom: 5px;
}
.container{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img{
    width: 400px;
    
}

.text{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.text a{
    width: 300px;
    padding: 20px;
    cursor: pointer;
    color: black;
    border-radius: 70px;
    text-align: center;
    text-decoration: none;
    background-color: #ccc;
    

}

.text a:hover{
    background-color: rgb(148, 241, 148);
    color: white;
}